@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-primary: #1e3a8a;
    --color-secondary: #6b21a8;
    --color-accent: #0ea5a4;
    --color-neutral: #111827;
    --color-base-100: #ffffff;
    --color-base-200: #f3f4f6;
    --color-base-300: #e5e7eb;
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
        Roboto, "Helvetica Neue", Arial;
}
html {
    scroll-behavior: smooth;
    /* This prevents the sticky header from covering the "About Us" title */
    scroll-padding-top: 80px;
}
